.clear {
    clear: both;
}

.padding-top-50 {
    padding-top: 50px;
}

.jobwp-listing-body-container {
    margin: 20px 0;
    border: 0px solid #000;
    width: 100%;
}

.primary-color {
    color: #555555;
}


/* Listing Started */

.jobwp-item {
    padding: 20px;
    background: #f7f8f7;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.jobwp-item:hover {
    background: #EAEAEA;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.jobwp-item .jobwp-job-title {
    margin-bottom: 10px;
}

.jobwp-item .jobwp-job-title a.jobwp-job-title-a {
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
}

p.jobwp-overview-excerpt,
p.jobwp-list-bottom-item {
    font-size: 16px;
    line-height: 30px;
    font-weight: normal;
    margin: 0 0 10px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}


/* Listing Ended */


/* Search Started */

.jobwp-search-container {
    border: 1px solid #ddd;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr));
    margin-bottom: 10px;
    background: #F2F2F2;
}

.jobwp-search-container .jobwp-search-item {
    border: 0px solid #DDD;
    min-height: 40px;
    text-align: center;
}

.jobwp-search-container .jobwp-search-item input,
.jobwp-search-container .jobwp-search-item select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat scroll right 15px center;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #333333;
    font-size: 12px;
    line-height: 18px;
    padding: 13px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s linear;
    margin: 0px;
}

.jobwp-search-container .jobwp-search-item input[type='text'] {
    background: #FFF;
    padding: 15px 13px;
    line-height: 30px;
    height: 45px;
    color: #333!important;
}

.jobwp-search-container .jobwp-search-item .submit-btn {
    width: 150px;
    height: 45px;
    background: #269FC6;
    color: #ffffff;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.3s linear;
    transform: translateY(0);
    display: inline-block;
}

.jobwp-search-container .jobwp-search-item .submit-btn:hover {
    background: #6fa0df;
    border: 1px solid #6fa0df;
    color: #FFF;
}

.jobwp-search-container .jobwp-search-item a#jobwp-search-refresh {
    background: #FFF;
    color: #666666;
    padding: 10px;
    font-size: 18px;
    line-height: 25px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: 0.5px;
    cursor: pointer;
    display: block;
    width: 50px;
    height: 45px;
    border: 1px solid #666666;
}

.jobwp-search-container .jobwp-search-item a#jobwp-search-refresh:hover {
    background: #6fa0df;
    border: 1px solid #6fa0df;
    color: #FFF;
}


/* Search Ended */


/* Details Started */

.jobwp-single-body-container {
    margin: 20px 0;
    border: 0px solid #000;
    width: 100%;
}

.jobwp-single-area {
    border: 0px solid #000;
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 70% 1fr;
}

.jobwp-single-left {
    border: 0px solid #009900;
}

.left-cell {
    float: left;
    text-align: right;
    padding-bottom: 20px;
    width: 36%;
}

.right-cell {
    float: right;
    width: 60%;
    padding-bottom: 20px;
    padding-left: 30px;
    border-left: 1px solid #247c26;
}

.circulr-details-top {
    background: #eee;
    border: 0px solid #000;
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 70% 1fr;
}

.circulr-details-top .jobwp-job-title {
    border: 0px solid #000;
    font-size: 36px;
    line-height: 100px;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.circulr-details-bottom {
    background: #eee;
    border: 0px solid #000;
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 70% 1fr;
}

.padding-50-0 {
    padding: 50px 0;
}

.apply-now {
    text-align: center;
}

.apply-now p {
    line-height: 60px;
    margin: 0;
}

.heading-04 {
    font-size: 36px;
}

.primary-button {
    background: rgba(36, 124, 38, 1) !important;
    border: 1px solid #247c26 !important;
    border-radius: 3px !important;
    font-family: "catamaranlight" !important;
    font-size: 22px !important;
    text-transform: uppercase !important;
    color: #fff !important;
    padding: 10px 30px !important;
    display: inline-block !important;
    line-height: 36px !important;
    height: 60px !important;
}

.primary-button:hover {
    color: #247c26 !important;
    background: none !important;
}

.circulr-details-bottom-email {
    background: #eeeeee;
    width: 100%;
    line-height: 10px;
    padding: 20px;
    display: block;
    text-align: center;
    padding-bottom: 40px;
}

h3.wpsd-read-before-apply {
    font-size: 24px;
    padding: 0px;
    width: 100%;
    text-align: center;
}

span.wpsd-read-before-apply-border {
    border-bottom: 3px solid #CCC;
    display: block;
    line-height: 10px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.circulr-details-bottom-email p.apply-to-email {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 20px;
}


/* Details Ended */

h2.jobwp-application-message {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    color: #242424;
}


/* Apply Now Started */

.error-message {
    color: #f00;
    font-size: 14px;
}

.custom-file-field {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: none !important;
    display: block;
    height: auto;
    padding: 0!important;
}


/* Apply Now Ended */

@media only screen and (max-width: 890px) {
    .circulr-details-top {
        width: 100%;
        display: block;
        padding: 20px 0;
    }
    p.jobwp-job-title {
        font-size: 26px;
        line-height: 40px;
    }
    .jobwp-single-area {
        display: block;
    }
    .jobwp-search-container {
        display: inline-block;
        padding-bottom: 10px;
    }
    .jobwp-search-container .jobwp-search-item {
        margin-bottom: 10px;
    }
    .jobwp-search-container .jobwp-search-item a#jobwp-search-refresh {
        margin: auto;
    }
}