.clear {
    clear: both;
}

.padding-top-50 {
    padding-top: 50px;
}

.jobwp-listing-body-container {
    margin: 20px auto;
    border: 0px solid #000;
    width: 100%;
    max-width: 1150px;
}

.primary-color {
    color: #555555;
}

.jobwp-listing-top {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 1150px;
    min-height: 40px;
}

.jobwp-listing-top .jobwp-total-jobs-found,
.jobwp-listing-top .jobwp-select-view {
    width: 49.8%;
    display: inline-block;
}

.jobwp-listing-top .jobwp-select-view {
    text-align: right;
    color: #111;
}

.jobwp-listing-top .jobwp-select-view span.view {
    display: inline-block;
    margin-left: 8px;
    font-size: 22px;
    cursor: pointer;
    opacity: 0.4;
}

.jobwp-listing-top .jobwp-select-view span.view.list.active,
.jobwp-listing-top .jobwp-select-view span.view.grid.active {
    opacity: 1;
}

.jobwp-total-jobs-found .jobwp-total-jobs-found-total {
    display: block;
    font-size: 18px;
    color: #111;
    font-weight: 600;
}

.jobwp-total-jobs-found .jobwp-total-jobs-found-per-page {
    display: block;
    font-size: 14px;
    color: #777;
    font-weight: 600;
}


/* Listing Started */

.jobwp-item {
    padding: 10px 20px;
    background: #FFF;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.jobwp-item .jobwp-top {
    display: block;
    min-height: 50px;
    clear: both;
    overflow: auto;
}

.jobwp-item .jobwp-top .jobwp-top-left,
.jobwp-item .jobwp-top .jobwp-top-right {
    min-height: 50px;
}

.jobwp-item .jobwp-top .jobwp-top-left {
    width: 75%;
    float: left;
}

.jobwp-item .jobwp-top .jobwp-top-right {
    float: right;
    width: 25%;
    text-align: right;
}

.jobwp-item .jobwp-top .jobwp-top-right img {
    max-width: 50%;
    width: 100px;
    margin-top: 10px;
}


/*
.jobwp-item:hover {
    background: #EAEAEA;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
*/

.jobwp-item .jobwp-job-title {
    margin-bottom: 5px;
}

.jobwp-item .jobwp-job-title a.jobwp-job-title-a {
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
}

.jobwp-item .jwb-list-comp-name {
    margin: 5px 0;
    font-size: 15px;
    font-weight: 600;
    color: #333333;
}

.jobwp-item p.jobwp-overview-excerpt,
.jobwp-item .jobwp-top .jobwp-top-left p {
    margin: 10px 0;
}

div.jobwp-overview-excerpt,
div.jobwp-list-bottom-item,
.jobwp-item .jobwp-top .jobwp-top-left p {
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
    color: #555;
}

.jobwp-item .jobwp-top .jobwp-top-left a.jobwp-read-more {
    display: inline-block;
    margin-bottom: 15px;
    text-decoration: none;
    color: #FFF;
    background-color: #2B8EEC;
    padding: 3px 10px;
    border-radius: 3px;
}

.jobwp-bottom {
    border: 0px solid #000;
    display: block;
    min-height: 37px;
    margin-bottom: 5px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

div.jobwp-list-bottom-item i {
    border: 2px solid #EAEAEA;
    border-radius: 50%;
    background: #FAFAFA;
    width: 35px;
    height: 35px;
    line-height: 30px;
    text-align: center;
}


/* Grid Layout Started */

.jobwp-listing-body-container.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.jobwp-listing-body-container.grid .jobwp-item {
    margin-bottom: 0;
}

.jobwp-listing-body-container.grid .jobwp-item .jobwp-top .jobwp-top-img {
    height: 80px;
    margin-bottom: 10px;
}

.jobwp-listing-body-container.grid .jobwp-item .jobwp-top .jobwp-top-img img {
    height: 100%;
    width: auto;
}

.jobwp-listing-body-container.grid .jobwp-item .jobwp-top .jobwp-top-left {
    width: 100%;
}

.jobwp-listing-body-container.grid .jobwp-item .jobwp-bottom {
    border: 0px solid #000;
    display: inline-block;
    width: 100%;
}

.jobwp-listing-body-container.grid .jobwp-item .jobwp-list-bottom-item {
    display: block;
    width: 100%;
}

.jobwp-listing-body-container.grid .jobwp-item .pull-right {
    float: left;
}


/* Grid Layout Ended */


/* Listing Ended */


/* Pagination Started */

.jobwp-pagination {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.jobwp-pagination .page-numbers li {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 48px;
    margin: 0 2px 0 0;
    text-decoration: none;
    border-radius: 2px;
}

.jobwp-pagination .page-numbers li a {
    color: #13b5ea;
    font-size: 14px;
    border: 1px solid #13b5ea;
    height: 50px;
    width: 50px;
}

.jobwp-pagination .page-numbers li a.page-numbers {
    width: 50px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

div.jobwp-pagination>ul.page-numbers>li>span.page-numbers.current {
    display: block;
    background: #13b5ea;
    border: 1px solid #13b5ea;
    color: #FFF;
    width: 50px;
    height: 50px;
    line-height: 48px;
    font-size: 14px;
    font-weight: 700;
}

div.jobwp-pagination>ul.page-numbers>li:hover,
div.jobwp-pagination>ul.page-numbers>li>a.page-numbers:hover {
    background: #13b5ea;
    color: #FFF;
}


/* Pagination Ended */


/* Search Started */

.jobwp-search-container {
    border: 1px solid #ddd;
    width: 100%;
    max-width: 1150px;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr));
    margin: 10px auto;
    background: #FFF;
}

.jobwp-search-container .jobwp-search-item {
    border: 0px solid #DDD;
    min-height: 40px;
    text-align: center;
}

.jobwp-search-container .jobwp-search-item input,
.jobwp-search-container .jobwp-search-item select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("select-icon.png") no-repeat scroll right 15px center;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #333333;
    font-size: 12px;
    line-height: 18px;
    padding: 13px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s linear;
    margin: 0px;
}

.jobwp-search-container .jobwp-search-item input[type='text'] {
    background: #FFF;
    padding: 15px 13px;
    line-height: 30px;
    height: 45px;
    color: #333!important;
}

.jobwp-search-container .jobwp-search-item .submit-btn {
    width: 150px;
    height: 45px;
    background: #13b5ea;
    color: #ffffff;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.3s linear;
    transform: translateY(0);
    display: inline-block;
}

.jobwp-search-container .jobwp-search-item .submit-btn:hover {
    background: #6fa0df;
    color: #FFF;
}

.jobwp-search-container .jobwp-search-item a#jobwp-search-refresh {
    background: #FFF;
    color: #666666;
    padding: 10px;
    font-size: 18px;
    line-height: 25px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: 0.5px;
    cursor: pointer;
    display: block;
    width: 50px;
    height: 45px;
    border: 1px solid #666666;
    text-decoration: none;
}

.jobwp-search-container .jobwp-search-item a#jobwp-search-refresh:hover {
    background: #13b5ea;
    border: 1px solid #13b5ea;
    color: #FFF;
}


/* Search Ended */


/* Details Started */

.jobwp-single-body-container {
    border: 0px solid #000;
    width: 100%;
    max-width: 1150px;
    margin: 40px auto;
}

.jobwp-single-area {
    width: 100%;
    display: block;
}

.jobwp-single-area .content-row {
    width: 100%;
    display: block;
    padding: 0 20px;
}

.left-cell {
    float: left;
    text-align: right;
    width: 30%;
    padding: 20px 20px 20px 0;
}

.right-cell {
    float: right;
    width: 70%;
    padding: 20px 0 20px 30px;
    border-left: 1px solid #999;
}

.circulr-details-top {
    background: #eee;
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 60% 1fr;
    padding: 10px 0;
}

.single-top-left,
.single-top-right {
    padding: 20px 0;
    text-align: center;
}

.circulr-details-top .jobwp-job-title,
.circulr-details-top .jwb-single-comp-name {
    font-size: 32px;
    line-height: 46px;
    text-align: left;
    margin: 0 auto;
    padding: 0;
    font-weight: 600;
    width: 80%;
}

.circulr-details-top .jwb-single-comp-name {
    font-size: 18px;
    margin-top: 10px;
    line-height: 28px;
}

.single-top-right img {
    max-height: 100px;
    width: auto;
}

.jobwp-single-area .content-row .left-cell h5.label {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.padding-50-0 {
    padding: 50px 0;
}

.apply-now {
    text-align: center;
}

.apply-now p {
    line-height: 60px;
    margin: 0;
}

.heading-04 {
    font-size: 36px;
}

.jobwp-primary-button {
    border-radius: 3px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;
}

.jobwp-primary-button:hover {
    color: #247c26;
    background: none;
}

.circulr-details-bottom-email {
    background: #eeeeee;
    width: 100%;
    line-height: 10px;
    padding: 20px 0;
    display: block;
    text-align: center;
}

h3.wpsd-read-before-apply {
    font-size: 24px;
    padding: 0px;
    margin: 0;
    width: 100%;
    text-align: center;
}

span.wpsd-read-before-apply-border {
    border-bottom: 3px solid #CCC;
    display: block;
    line-height: 10px;
    width: 200px;
    margin: 0 auto;
}

.circulr-details-bottom-email p.apply-to-email {
    margin: 20px 0;
    padding: 0;
    font-size: 13px;
    line-height: 20px;
}

.circulr-details-bottom-email p.apply-to-email a,
.circulr-details-bottom-email a.jobwp-primary-button {
    text-decoration: none;
}


/* Details Ended */

.jobwp-application-message {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    color: #CC0000;
}


/* Apply Now Started */

.iziModal::after {
    height: 0!important;
}

#jobwp-apply-form-modal {
    padding: 20px;
    overflow-y: scroll;
    height: 650px!important;
}

.jobwp-field-row span.error-message {
    color: #f00;
    font-size: 14px;
    display: block;
}

.jobwp-apply-title {
    border: 0px;
    font-size: 30px;
    width: 100%;
    padding: 20px 0 0 10px;
    font-weight: 600;
    color: #222;
}

.jobwp-apply-form {
    border: 0px solid #000;
    width: 100%;
}

.jobwp-field-row {
    border: 0px solid #000;
    width: 100%;
    padding: 10px;
}

.jobwp-field-row span {
    padding: 0;
    margin: 0;
    display: block;
    font-size: 12px;
    color: #333;
}

.jobwp-field-row label {
    display: inline-block;
    color: #333;
    font-size: 14px;
    font-weight: 600;
}

.jobwp-field-row span.required {
    display: inline;
    color: #cc0000;
    padding-left: 5px;
}

.jobwp-field-row input[type="email"],
.jobwp-field-row input[type="text"],
.jobwp-field-row textarea {
    color: #666;
    padding: .75em;
    height: auto;
    border: 1px solid #DDD;
    border-radius: 2px;
    background: #fafafa;
    box-shadow: none;
    box-sizing: border-box;
    transition: all .2s linear;
    min-width: 70%;
    display: block;
    margin-top: 8px;
}

.jobwp-field-row input[type="text"]::placeholder,
.jobwp-field-row input[type="email"]::placeholder,
.jobwp-field-row textarea::placeholder {
    color: #666;
}

.jobwp-field-row input[type="email"]:focus,
.jobwp-field-row input[type="text"]:focus,
.jobwp-field-row textarea:focus {
    border-color: #666;
}

#jobwp_apply_btn {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


/* Apply Now Ended */

@media only screen and (max-width: 500px) {
    .jobwp-listing-top .jobwp-select-view {
        display: none;
    }
    .jobwp-item .jobwp-top .jobwp-top-left,
    .jobwp-item .jobwp-top .jobwp-top-right {
        width: 100%;
        text-align: left;
    }
    .jobwp-item .jobwp-top .jobwp-top-right img {
        margin-bottom: 10px;
    }
    .circulr-details-top {
        width: 100%;
        display: block;
        padding: 0px;
    }
    .single-top-left,
    .single-top-right {
        padding: 10px;
        text-align: left;
    }
    .circulr-details-top .jobwp-job-title {
        font-size: 18px !important;
        line-height: 28px !important;
        width: 100%;
    }
    .circulr-details-top .jwb-single-comp-name {
        width: 100%;
        font-size: 16px !important;
        line-height: 26px !important;
    }
    .single-top-right img {
        max-height: 80px;
    }
    .jobwp-single-area {
        display: block;
    }
    .jobwp-search-container {
        display: inline-block;
        padding-bottom: 10px;
    }
    .jobwp-search-container .jobwp-search-item {
        margin-bottom: 10px;
    }
    .jobwp-search-container .jobwp-search-item a#jobwp-search-refresh {
        margin: auto;
    }
    .jobwp-listing-body-container.grid {
        display: block;
    }
    .jobwp-item,
    .jobwp-listing-body-container.grid .jobwp-item {
        margin-bottom: 10px;
    }
    .jobwp-item .jobwp-job-title a.jobwp-job-title-a {
        font-size: 18px;
    }
    .jobwp-bottom {
        border: 0px solid #000;
        display: inline-block;
        width: 100%;
    }
    .jobwp-list-bottom-item {
        display: block;
        width: 100%;
    }
    .pull-right {
        float: left;
    }
    /* Single */
    .circulr-details-top p.jobwp-job-title {
        font-size: 22px;
        line-height: 26px;
    }
    .jobwp-single-area .content-row .left-cell,
    .left-cell {
        float: none;
        text-align: left;
        width: 100% !important;
        border-bottom: 1px solid #DDD;
        line-height: 30px;
        padding: 10px 0px;
        font-weight: 600;
    }
    .right-cell,
    .jobwp-single-area .content-row .right-cell {
        float: none;
        width: 100% !important;
        border-left: 0px;
        padding: 10px 0px;
    }
}